html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin: 0;
  font-family: 'Roboto Slab', serif;  
  background-color: #68B684;
}
/* body{
  background-image: url('./img/ff.png');
  background-repeat: no-repeat;
  background-color: #fff176 ;
  background-size: contain;
  font-family: 'Roboto Slab', serif;
} 
  @media (min-width: 992px) {
  body{
    background-image: url('./img/0.png');
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: auto;
    background-position: center center;
  }
}
   */